body{
	margin: 0;
	font: normal 100% Helvetica, Arial, sans-serif;
	/*字体大小是页面默认大小的100%，即16像素。*/
	background: #ddd;
}
.ding{
	width: 100%;
	height: 38px;
	background: #00cac9;
	text-align: center;
	position: fixed;
	z-index: 1;
}
.ding-zhong{
	color: #fff;
	margin-top: 10px;
	display: inline-block;
	font-size: 1em; 
	/*字的大小是默认大小的1.5倍，即24像素（24/16=1.5）。*/
}.ding-jiao{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	float: left;
	transform: rotate(-135deg);
	position: relative;
	left: 20px;
	top: 15px;
}
.tou{
	width: 100%;
	height: 143px;
	position: relative;
	top: 48px;
}
.tou img{
	width: 100%;
	height: 100%;
}
.zhu{
	width: 100%;
	margin-top: 63px;
	margin-bottom: 55px;
}
.zhu-kuang{
	width: 97%;
	margin: 0 auto;
}
.zhu-kuang-img{
	width: 100%;
	height: 115px;
}
.zhu-kuang-nr{
	width: 100%;
	height: 210px;
	margin-top: 10px;
	background: #fff;
	position: relative;
	font-size: 0.65rem;
}
.zhu-kuang-nr img{
	width: 100%;
	height: 133px;
}
.zhu-kuang-nr-H1{
	width: 100%;
	height: 15px;
	margin-top: 8px;
}
.zhu-kuang-nr-H1-span1{
	margin-left: 10px;
	font-size: 0.8rem;
}
.zhu-kuang-nr-H1-span2{
	float: right;
	margin-right: 15px;
	color: #c7c7c7;
}
.zhu-kuang-nr-H1-span3{
	float: right;
	color: #9ee4e4;
}
#zhu-kuang-nr-H1-img{
	width: 14px;
	height: 11px;
	margin-left: 10px;
}
#zhu-kuang-nr-H1-img2{
	width: 11px;
	height: 11px;
	margin-left: 10px;
}
.zhu-kuang-nr-H1-span{
	margin-left: 10px;
	display: inline-block;
	position: relative;
	color: #b9b9b9;
}
.zhu-kuang-nr-B{
	height: 12%;
	background: #00cac9;
	position: absolute;
	top: 10px;
	left: -3px;
	text-align: center;
}
.zhu-kuang-nr-B span{
	color: #fff;
	display: inline-block;
	margin-top: 3%;
}
.yejiao{
	background: #00cac9;
	width: 100%;
	height: 43px;
	position: fixed;
	z-index: 1;
	bottom: 0;
}
.yejiao ul{
	padding: 0;
}
.yejiao ul li{
	list-style: none;
	float: left;
	width: 24.7%;
	text-align: center;
	height: 15px;
}
#yejiao-li1,#yejiao-li2,#yejiao-li3{
	border-right: 1px solid #00a6a5;
}
.yejiao img{
	width: 20px;
	height: 20px;
	margin-top: -2px;
}
.hongche{
	width: 38px;
	height: 38px;
	position: fixed;
	bottom: 50px;
	right: 11px;
}

/*活动详情*/
.xiangqing-datu{
	width: 100%;
	height: 236px;
	background: #fff;
	position: relative;
	top: 38px;
}
.xiangqing-datu-D{
	width: 100%;
	height: 193px;
}
.xiangqing-datu-span1{
	font-size: 0.9rem;
	margin-top: 8px;
	margin-left: 10px;
	display: inline-block;
}
.xiangqing-datu-you{
	float: right;
	font-size: 0.8rem;
	color: #999999;
	margin-top: 10px;
	margin-right: 10px;
}
.xiangqing-datu-you img{
	width: 13px;
	height: 13px;
	margin-left: 4px;
}
.xiangqing-datu-you span{
	position: relative;
	top: -1px;
}
.xiangqing-datu-wenzi{
	width: 100%;
	height: 86px;
	margin-top: 13px;
}
.xiangqing-datu-wenzi-zi{
	width: 90%;
	height:50px;
	font-size: 0.7rem;
	margin:0;
	position: relative;
	top: 16px;
	left: 16px;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.xiangqing-datu-wenzixiangqing{
	display: inline-block;
	font-size: 0.8rem;
	color: #00cac9;
}
.xiangqing-datu-lianxi{
	width: 100%;
	height: 95px;
	background: #fff;
	border-top: 1.5px solid #d8d8d8;
	border-bottom: 1.5px solid #d8d8d8;
}
.xiangqing-datu-lianxi ul{
	margin: 0;
	padding: 0;
	height: 100%;
}
.xiangqing-datu-lianxi ul li{
	width: 100%;
	height: 25%;
}
.xiangqing-datu-lianxi img{
	width: 13px;
	height: 13px;
	margin-top: 5px;
	margin-left: 10px;
}
.xiangqing-datu-lianxi span{
	margin-left: 5px;
	font-size: 0.7rem;
	position: relative;
	top: -2px;
	color: #8c8c8c;
}
.xiangqing-datu-YBM{
	width: 100%;
	height: 68px;
	border-bottom: 1px solid #d8d8d8;
	background: #fff;
	font-size: 0.8rem;
	color: #b8b8b8;
}
.xiangqing-datu-YBM-sp{
	margin-left: 10px;
	margin-top: 5px;
	display: inline-block;
}
.xiangqing-datu-YBM-div{
	width: 100%;
	height: 40px;
}
.xiangqing-datu-YBM-div img{
	width: 35px;
	height: 35px;
	margin-left: 10px;
	margin-top: 3px;
}
.xiangqing-datu-BM{
	width: 100%;
	height: 65px;
	background: #fff;
	text-align: center;
}
.xiangqing-datu-BM button{
	width: 45%;
	height: 33px;
	margin-top: 16px;
	background: #00cac9;
	border-radius: 20px;
	border: 1px solid #00cac9;
	color:#fff;
	font-size: 0.8rem;
}
#SJF{
	font-size: 0.6rem;
}

/*点击详情*/
.biaoti{
	width: 100%;
	height: 44px;
	background: #fff;
	position: relative;
	top: 38px;
}
.biaoti-zi{
	font-size: 0.93rem;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}
.biaoti-you{
    float: right;
    font-size: 0.85rem;
    color: #999999;
    margin-top: 15px;
    margin-right: 10px;
}
.biaoti-you img{
    width: 13px;
    height: 13px;
    margin-left: 4px;
}
.zhu-kuang{
	width: 90%;
	margin-top: 38px;
	font-size: 0.8rem;
	color: #333333;
	margin-bottom: 40px;
}
.zhu-kuang ul{
	margin: 0;
	padding: 0;
	position: relative;
	top: 14px;
}
.zhu-kuang ul li{
	list-style: none;
	margin-top: 14px;
}
.zhu-kuang ul li img{
	width: 85%;
	height: 142px;
}
#zhu-kuang-img{
	text-align: center;
}

/*报名*/
.color{
	background: #fff;
}
.dizhi{
	width: 100%;
	height: 58px;
	background: #fff;
	margin-top: 38px;
	border-top: 1.5px solid #d8d8d8;
	border-bottom: 1.5px solid #d8d8d8;
}
.dizhi div{
	width: 100%;
	height: 50%;
}
.dizhi div img{
	width: 13px;
	height: 13px;
	margin-left: 10px;
	margin-top: 7px;
}
.dizhi div span{
    margin-left: 5px;
    font-size: 0.8rem;
    position: relative;
    top: -1px;
    color: #8c8c8c;
}
.zhongK{
	width: 80%;
	margin: 0 auto;
}
.zhongK ul{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	display: inline-block;
	width: 100%;
}
.zhongK ul li {
	list-style:none;
	margin-top: 10px;
}
.zhongK ul li span{
	display: inline-block;
	width: 100%;
	font-size: 0.85rem;
	color: #999999;
	margin-left: 15px;
	position: relative;
	top: -2px;
}
.zhongK ul li input{
	width: 100%;
	height: 30px;
	text-align: center;
	border: 1px solid #e3e3e3;
	border-radius: 20px;
	color: #333333;
}
.fukuan{
	width: 80%;
	height: 70px;
	margin: 0 auto;
	border-top:1px solid #d8d8d8;
}
.fukuan-div1{
	float: right;
	width: 35%;
	margin-top: 5px;
}
.fukuan ul{
	margin: 0;
	padding: 0;
	width: 90px;
	float: right;
}
.fukuan ul li{
	height: 33%;
	list-style: none;
	margin-right: 0;
	display: inline-block;
	margin-top: 2px;
}
.fukuan ul li span{
	font-size: 0.8rem;
	color: #999999;
	display: inline-block;
}
.fukuan-div2{
	position: relative;
	right: -14px;
}
#fukuan-div3{
	position: relative;
	right: -23px;
	
}
#fukuan-div3 span{
	color: #f01313;
	font-size: 0.85rem;
}
.btn{
	width: 100%;
	height: 58px;
	text-align: center;
}
.btn button{
	width: 45%;
	height: 32px;
	background: #00cac9;
	border: 1px solid #00cac9;
	border-radius: 20px;
	color: #fff;
	margin-top: 8px;
}

/*订单详情*/
#beijingse{
	background: #f7f7f7;
}
.xiangqing{
	margin-top: 48px;
}
.xiangqing ul{
	margin: 0;
	padding: 0;
}
.xiangqing ul li{
	margin-top: 10px;
}
.xiangqing ul li span{
	font-size: 0.9rem;
	margin-left: 10px;
	margin-bottom: 3px;
	display: inline-block;
}
#xiangqing-div1{
	width: 100%;
	height: 75px;
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
#xiangqing-div2,#xiangqing-div4{
	width: 100%;
	height: 50px;
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
#xiangqing-div3{
	width: 100%;
	height: 145px;
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
#xiangqing-div1 div{
	font-size: 0.85rem;
	margin-top: 3px;
	margin-left: 10px;
	color: #999;
}
#xiangqing-div1 div span{
	color: #505050;
	margin-left: 0;
}
#xiangqing-div2 div{
	font-size: 0.85rem;
	margin-top: 3px;
	margin-left: 10px;
	color: #999;
}
#xiangqing-div2 div span{
	color: #505050;
	margin-left: 0;
}
#xiangqing-div3 div{
	font-size: 0.85rem;
	margin-top: 3px;
	margin-left: 10px;
	color: #999;
}
#xiangqing-div3 div span{
	color: #505050;
	margin-left: 0;
}
#xiangqing-div4 div{
	font-size: 0.85rem;
	margin-top: 3px;
	margin-left: 10px;
	color: #999;
}
#xiangqing-div4 div span{
	color: #505050;
	margin-left: 0;
}

/*酒店*/
#jiudian-beijingse{
	background: #fff;
}
.jiudian-liebiaoK{
	width: 90%;
	position: relative;
	top: 53px;
	margin: 0 auto;
}
.jiudian-liebiao{
	margin-bottom: 55px;
}
.jiudian-liebiao ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.jiudian-liebiao ul li{
	width: 100%;
}
.jiudian-liebiao ul li{
	width: 100%;
	height: 212px;
}
.jiudian-liebiao-img{
	width: 100%;
	height: 154px;
}
.jiudian-liebiao-spanZ{
	font-size: 0.8rem;
	margin-left: 10px;
	display: inline-block;
	margin-top: 3px;
	width: 100%;
}
.jiudian-liebiao-spanH{
	display: inline-block;
	width: 100%;
}